Node-RED/flows.json
[
    {
        "id": "e915b08ab287bdeb",
        "type": "tab",
        "label": "Main",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "08ff411620e36298",
        "type": "group",
        "z": "e915b08ab287bdeb",
        "name": "Tally",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "e55431d3eb275ee7",
            "ebfd7d30cf94a7bb",
            "f941696fec884f1d",
            "ab5913f20c08bcd5",
            "82296f548040a107",
            "7d87420d5e5022ec",
            "df892618ea034425",
            "b3b59d2c126e7a36",
            "0456b76fd92ef166",
            "5399f93f840de9e4",
            "8424fc67d9012eaa",
            "f09af90851f8a7c8",
            "16cfcdf8be0584f1",
            "f73d28db7c6e1235",
            "b00f907435007c96",
            "ba0d11de03595523",
            "021ccca8591c3b3a"
        ],
        "x": 294,
        "y": 599,
        "w": 1012,
        "h": 262
    },
    {
        "id": "51db561c30740759",
        "type": "group",
        "z": "e915b08ab287bdeb",
        "name": "DeviceStatus",
        "style": {
            "fill": "#ffC000",
            "fill-opacity": "0.5",
            "label": true
        },
        "nodes": [
            "08edfca6a9572309",
            "da884e1459a7a8e0",
            "123723926b7795ea",
            "4111b25606ece7d8",
            "dc2f0fde64d25865",
            "e43fa0b27b09df1c"
        ],
        "x": 294,
        "y": 279,
        "w": 1012,
        "h": 122
    },
    {
        "id": "16cfcdf8be0584f1",
        "type": "junction",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "x": 320,
        "y": 780,
        "wires": [
            [
                "ebfd7d30cf94a7bb",
                "f941696fec884f1d"
            ]
        ]
    },
    {
        "id": "f73d28db7c6e1235",
        "type": "junction",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "x": 640,
        "y": 660,
        "wires": [
            [
                "f09af90851f8a7c8"
            ]
        ]
    },
    {
        "id": "b00f907435007c96",
        "type": "junction",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "x": 320,
        "y": 640,
        "wires": [
            [
                "5399f93f840de9e4",
                "8424fc67d9012eaa"
            ]
        ]
    },
    {
        "id": "ba0d11de03595523",
        "type": "junction",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "x": 1160,
        "y": 660,
        "wires": [
            [
                "69ad925d5de737f5"
            ]
        ]
    },
    {
        "id": "021ccca8591c3b3a",
        "type": "junction",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "x": 320,
        "y": 720,
        "wires": [
            [
                "e55431d3eb275ee7"
            ]
        ]
    },
    {
        "id": "9a8b7aace4b061c6",
        "type": "websocket in",
        "z": "e915b08ab287bdeb",
        "name": "tally-in",
        "server": "c66f539a9e1f3c90",
        "client": "",
        "x": 90,
        "y": 360,
        "wires": [
            [
                "e67c3192469c5192"
            ]
        ]
    },
    {
        "id": "e67c3192469c5192",
        "type": "json",
        "z": "e915b08ab287bdeb",
        "name": "json tally-in",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 110,
        "y": 420,
        "wires": [
            [
                "d45e30b812369e35"
            ]
        ]
    },
    {
        "id": "d45e30b812369e35",
        "type": "switch",
        "z": "e915b08ab287bdeb",
        "name": "switch (MessageType)",
        "property": "payload.MessageType",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "DeviceStatus",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "Chat",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GetTally",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "SetTally",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 4,
        "x": 140,
        "y": 480,
        "wires": [
            [
                "123723926b7795ea"
            ],
            [],
            [
                "b00f907435007c96"
            ],
            [
                "16cfcdf8be0584f1",
                "021ccca8591c3b3a"
            ]
        ]
    },
    {
        "id": "d84a0a00959a50f9",
        "type": "websocket out",
        "z": "e915b08ab287bdeb",
        "name": "tally-out",
        "server": "c66f539a9e1f3c90",
        "client": "",
        "x": 1560,
        "y": 620,
        "wires": []
    },
    {
        "id": "69ad925d5de737f5",
        "type": "function",
        "z": "e915b08ab287bdeb",
        "name": "gather all",
        "func": "return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 660,
        "wires": [
            [
                "d84a0a00959a50f9"
            ]
        ]
    },
    {
        "id": "e55431d3eb275ee7",
        "type": "change",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_session",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1000,
        "y": 720,
        "wires": [
            [
                "ba0d11de03595523"
            ]
        ]
    },
    {
        "id": "ebfd7d30cf94a7bb",
        "type": "rbe",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "Pgm1 Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.MessageData.atem_pgm1_input_id",
        "topi": "topic",
        "x": 520,
        "y": 760,
        "wires": [
            [
                "ab5913f20c08bcd5"
            ]
        ]
    },
    {
        "id": "f941696fec884f1d",
        "type": "rbe",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "Pvw1 Changed",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "septopics": false,
        "property": "payload.MessageData.atem_pvw1_input_id",
        "topi": "topic",
        "x": 520,
        "y": 800,
        "wires": [
            [
                "82296f548040a107"
            ]
        ]
    },
    {
        "id": "ab5913f20c08bcd5",
        "type": "change",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "atem_pgm1_input_id",
        "rules": [
            {
                "t": "set",
                "p": "atem_pgm1_input_id",
                "pt": "flow",
                "to": "payload.MessageData.atem_pgm1_input_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 760,
        "wires": [
            [
                "7d87420d5e5022ec"
            ]
        ]
    },
    {
        "id": "82296f548040a107",
        "type": "change",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "atem_pvw1_input_id",
        "rules": [
            {
                "t": "set",
                "p": "atem_pvw1_input_id",
                "pt": "flow",
                "to": "payload.MessageData.atem_pvw1_input_id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 800,
        "wires": [
            [
                "7d87420d5e5022ec"
            ]
        ]
    },
    {
        "id": "7d87420d5e5022ec",
        "type": "function",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "function Pgm1/Pvw1",
        "func": "var atem_pgm1_input_id = flow.get(\"atem_pgm1_input_id\");\nvar atem_pvw1_input_id = flow.get(\"atem_pvw1_input_id\");\n\nvar cam1 = { title: \"Camera 1\", topic: \"Cam1\", payload: \"\" };\nvar cam2 = { title: \"Camera 2\", topic: \"Cam2\", payload: \"\" };\nvar cam3 = { title: \"Camera 3\", topic: \"Cam3\", payload: \"\" };\n\nswitch (atem_pvw1_input_id) {\n    case 1:\n        cam1[\"payload\"] = \"Pvw1\";\n        break;\n    case 2:\n        cam2[\"payload\"] = \"Pvw1\";\n        break;\n    case 3:\n        cam2[\"payload\"] = \"Pvw1\";\n        break;\n    case 4:\n        cam3[\"payload\"] = \"Pvw1\";\n        break;\n    default:\n        break;\n}\n\nswitch(atem_pgm1_input_id) {\n    case 1:\n        cam1[\"payload\"] = \"Pgm1\";\n        break;\n    case 2:\n        cam2[\"payload\"] = \"Pgm1\";\n        break;\n    case 3:\n        cam2[\"payload\"] = \"Pgm1\";\n        break;\n    case 4:\n        cam3[\"payload\"] = \"Pgm1\";\n        break;\n    default:\n        break;\n}\n\nreturn [cam1, cam2, cam3];",
        "outputs": 3,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1000,
        "y": 780,
        "wires": [
            [
                "df892618ea034425"
            ],
            [
                "b3b59d2c126e7a36"
            ],
            [
                "0456b76fd92ef166"
            ]
        ]
    },
    {
        "id": "df892618ea034425",
        "type": "ui_led",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "order": 3,
        "group": "b99a575091088f56",
        "width": "0",
        "height": "0",
        "label": "Camera 1",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Pgm1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Pvw1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "cam1",
        "x": 1230,
        "y": 740,
        "wires": []
    },
    {
        "id": "b3b59d2c126e7a36",
        "type": "ui_led",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "order": 4,
        "group": "b99a575091088f56",
        "width": "0",
        "height": "0",
        "label": "Camera 2",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Pgm1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Pvw1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "cam2",
        "x": 1230,
        "y": 780,
        "wires": []
    },
    {
        "id": "0456b76fd92ef166",
        "type": "ui_led",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "order": 5,
        "group": "b99a575091088f56",
        "width": "0",
        "height": "0",
        "label": "Camera 3",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "Pgm1",
                "valueType": "str"
            },
            {
                "color": "#008000",
                "value": "Pvw1",
                "valueType": "str"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "cam3",
        "x": 1230,
        "y": 820,
        "wires": []
    },
    {
        "id": "5399f93f840de9e4",
        "type": "template",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "getCurrentPgm1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"deviceId\": \"Node-RED\",\n    \"MessageType\": \"SetTally\",\n    \"MessageData\": {\n        \"EventType\": \"atem_pgm1_input_id\",\n        \"atem_pgm1_input_id\": {{flow.atem_pgm1_input_id}}\n    }\n}",
        "output": "str",
        "x": 520,
        "y": 640,
        "wires": [
            [
                "f73d28db7c6e1235"
            ]
        ]
    },
    {
        "id": "8424fc67d9012eaa",
        "type": "template",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "getCurrentPvw1",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\n    \"deviceId\": \"Node-RED\",\n    \"MessageType\": \"SetTally\",\n    \"MessageData\": {\n        \"EventType\": \"atem_pvw1_input_id\",\n        \"atem_pvw1_input_id\": {{flow.atem_pvw1_input_id}}\n    }\n}",
        "output": "str",
        "x": 520,
        "y": 680,
        "wires": [
            [
                "f73d28db7c6e1235"
            ]
        ]
    },
    {
        "id": "f09af90851f8a7c8",
        "type": "change",
        "z": "e915b08ab287bdeb",
        "g": "08ff411620e36298",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "_msgid",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "ba0d11de03595523"
            ]
        ]
    },
    {
        "id": "08edfca6a9572309",
        "type": "ui_etable",
        "z": "e915b08ab287bdeb",
        "g": "51db561c30740759",
        "payload": "[{\"title\":\"ID\",\"field\":\"deviceId\",\"frozen\":true,\"headerSort\":false},{\"title\":\"Name\",\"field\":\"friendlyName\",\"frozen\":true,\"sorter\":\"string\"},{\"title\":\"Inputs\",\"field\":\"inputIds\",\"headerSort\":false},{\"title\":\"Battery\",\"field\":\"batPercentage\",\"headerSort\":false},{\"title\":\"Bat Current\",\"field\":\"batCurrent\",\"headerSort\":false},{\"title\":\"Bat Charge Current\",\"field\":\"batChargeCurrent\",\"headerSort\":false},{\"title\":\"Max Charge Current\",\"field\":\"maxChargeCurrent\",\"headerSort\":false},{\"title\":\"Temperature\",\"field\":\"tempInAXP192\",\"headerSort\":false},{\"title\":\"Power Mode\",\"field\":\"powerMode\",\"headerSort\":false},{\"title\":\"Brightness\",\"field\":\"currentBrightness\",\"headerSort\":false},{\"title\":\"Screen\",\"field\":\"currentScreen\",\"headerSort\":false},{\"title\":\"Web Portal\",\"field\":\"webPortalActive\",\"headerSort\":false},{\"title\":\"NTP\",\"field\":\"ntp\",\"headerSort\":false},{\"title\":\"SSID\",\"field\":\"ssid\",\"headerSort\":false},{\"title\":\"RSSI\",\"field\":\"rssi\",\"headerSort\":false},{\"title\":\"IP Addr\",\"field\":\"ip\",\"headerSort\":false},{\"title\":\"Hostname\",\"field\":\"hostname\",\"headerSort\":false},{\"title\":\"Timestamp\",\"field\":\"timestamp\",\"headerSort\":false}]",
        "payloadType": "json",
        "options": "{\"movableColumns\":true,\"layout\":\"fitData\",\"pagination\":\"local\",\"height\":\"300px\",\"initialSort\":[{\"column\":\"friendlyName\",\"dir\":\"asc\"}]}",
        "group": "4fecf6ed884ab2be",
        "name": "",
        "order": 2,
        "width": "0",
        "height": "0",
        "columns": [],
        "outputs": 1,
        "cts": false,
        "x": 1230,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "da884e1459a7a8e0",
        "type": "sqlite",
        "z": "e915b08ab287bdeb",
        "g": "51db561c30740759",
        "mydb": "f3b2cb2dfae64c41",
        "sqlquery": "prepared",
        "sql": "INSERT INTO \n    deviceStatusLog\nVALUES (\n    $deviceId,\n    $timestamp,\n    $friendlyName,\n    $inputIds,\n    $batPercentage,\n    $batCurrent,\n    $batChargeCurrent,\n    $maxChargeCurrent,\n    $tempInAXP192,\n    $powerMode,\n    $currentBrightness,\n    $currentScreen,\n    $webPortalActive,\n    $ntp,\n    $ssid,\n    $rssi,\n    $ip,\n    $hostname\n)",
        "name": "tbl_deviceStatus",
        "x": 670,
        "y": 360,
        "wires": [
            [
                "4111b25606ece7d8"
            ]
        ]
    },
    {
        "id": "ee52e0fa0b393796",
        "type": "sqlite",
        "z": "e915b08ab287bdeb",
        "mydb": "f3b2cb2dfae64c41",
        "sqlquery": "fixed",
        "sql": "select * from deviceStatusLog",
        "name": "",
        "x": 810,
        "y": 180,
        "wires": [
            [
                "d78567f93469728a"
            ]
        ]
    },
    {
        "id": "e824461aa030e1d1",
        "type": "inject",
        "z": "e915b08ab287bdeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "ee52e0fa0b393796"
            ]
        ]
    },
    {
        "id": "123723926b7795ea",
        "type": "function",
        "z": "e915b08ab287bdeb",
        "g": "51db561c30740759",
        "name": "params_deviceStatusLog",
        "func": "let timestamp = new Date(Date.now()).toISOString();\nlet params = {\n    $deviceId: \"\" + msg.payload.deviceId + \"\",\n    $friendlyName: \"\" + msg.payload.MessageData.friendlyName + \"\",\n    $inputIds: \"\" + msg.payload.MessageData.inputIds + \"\",\n    $batPercentage: msg.payload.MessageData.batPercentage,\n    $batCurrent: msg.payload.MessageData.batCurrent,\n    $batChargeCurrent: msg.payload.MessageData.batChargeCurrent,\n    $maxChargeCurrent: msg.payload.MessageData.maxChargeCurrent,\n    $tempInAXP192: msg.payload.MessageData.tempInAXP192,\n    $powerMode: \"\" + msg.payload.MessageData.powerMode + \"\",\n    $currentBrightness: msg.payload.MessageData.currentBrightness,\n    $currentScreen: msg.payload.MessageData.currentScreen,\n    $webPortalActive: msg.payload.MessageData.webPortalActive,\n    $ntp: msg.payload.MessageData.ntp,\n    $ssid: msg.payload.MessageData.ssid,\n    $rssi: msg.payload.MessageData.rssi,\n    $ip: \"\" + msg.payload.MessageData.ip + \"\",\n    $hostname: \"\" + msg.payload.MessageData.hostname + \"\",\n    $timestamp: \"\" + timestamp + \"\"\n}\nmsg.params = params;\ndelete msg.payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nconst new_deviceStatusArray = [];\nflow.set(\"deviceStatusArray\", new_deviceStatusArray);",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 360,
        "wires": [
            [
                "da884e1459a7a8e0"
            ]
        ]
    },
    {
        "id": "4111b25606ece7d8",
        "type": "sqlite",
        "z": "e915b08ab287bdeb",
        "g": "51db561c30740759",
        "mydb": "f3b2cb2dfae64c41",
        "sqlquery": "fixed",
        "sql": "SELECT T1.*\n  FROM deviceStatusLog T1\n WHERE 1 = 1\n   AND EXISTS (SELECT 1 FROM deviceStatusLog T2\n                WHERE T1.deviceId = T2.deviceId\n                  --AND T2.timestamp >= datetime('now', '-2 minutes')\n                GROUP BY T2.deviceId\n                HAVING MAX(T2.timestamp) = T1.timestamp)",
        "name": "Select Recent",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "dc2f0fde64d25865"
            ]
        ]
    },
    {
        "id": "dc2f0fde64d25865",
        "type": "function",
        "z": "e915b08ab287bdeb",
        "g": "51db561c30740759",
        "name": "localTimeStamp",
        "func": "/*\nlet payload2 = msg.payload;\nlet length = payload2.length;\n\nfor (let i = 0; i < length; i++) {\n    let timestamp = payload2[i].timestamp;\n    let localTimestamp = new Date(timestamp);\n    payload2[i].timestamp = localTimestamp;\n    node.warn(\"i=\" + i + \" localTimestamp=\" + localTimestamp + \" payload2[i].timestamp\" + payload2[i].timestamp);\n}\n\ndelete msg.payload;\nmsg.payload = payload2;\n*/\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 360,
        "wires": [
            [
                "08edfca6a9572309"
            ]
        ]
    },
    {
        "id": "9e36d7705611b50a",
        "type": "ui_chart",
        "z": "e915b08ab287bdeb",
        "name": "",
        "group": "81b1bfdb.4662f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "d78567f93469728a",
        "type": "split",
        "z": "e915b08ab287bdeb",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 950,
        "y": 180,
        "wires": [
            [
                "a38ea6bc5d9d0964"
            ]
        ]
    },
    {
        "id": "65445fb5ec93cb23",
        "type": "debug",
        "z": "e915b08ab287bdeb",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 120,
        "wires": []
    },
    {
        "id": "a38ea6bc5d9d0964",
        "type": "function",
        "z": "e915b08ab287bdeb",
        "name": "function 1",
        "func": "let new_msg1 = {\n    topic: msg.payload.deviceId,\n    label: \"batPercentage\",\n    payload: msg.payload.batPercentage,\n    timestamp: msg.payload.timestamp\n}\nlet new_msg2 = {\n    topic: msg.payload.deviceId,\n    label: \"batCurrent\",\n    payload: msg.payload.batCurrent,\n    timestamp: msg.payload.timestamp\n}\nreturn [new_msg1, new_msg2]",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1100,
        "y": 180,
        "wires": [
            [
                "65445fb5ec93cb23",
                "9e36d7705611b50a"
            ],
            [
                "4f75ae65b3f2431f"
            ]
        ]
    },
    {
        "id": "4f75ae65b3f2431f",
        "type": "ui_chart",
        "z": "e915b08ab287bdeb",
        "name": "",
        "group": "81b1bfdb.4662f8",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "-200",
        "ymax": "0",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1290,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "cb4f6b49ba5c022b",
        "type": "inject",
        "z": "e915b08ab287bdeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 140,
        "wires": [
            [
                "e356e215aa732a0d"
            ]
        ]
    },
    {
        "id": "e356e215aa732a0d",
        "type": "function",
        "z": "e915b08ab287bdeb",
        "name": "reset",
        "func": "msg.payload = [];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 140,
        "wires": [
            [
                "9e36d7705611b50a",
                "4f75ae65b3f2431f"
            ]
        ]
    },
    {
        "id": "e43fa0b27b09df1c",
        "type": "ui_button",
        "z": "e915b08ab287bdeb",
        "g": "51db561c30740759",
        "name": "",
        "group": "4fecf6ed884ab2be",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 700,
        "y": 320,
        "wires": [
            [
                "4111b25606ece7d8"
            ]
        ]
    },
    {
        "id": "6d00d2b3f37d9725",
        "type": "sqlite",
        "z": "e915b08ab287bdeb",
        "mydb": "f3b2cb2dfae64c41",
        "sqlquery": "fixed",
        "sql": "insert into deviceConfig values ('97162C','Cam3');",
        "name": "",
        "x": 810,
        "y": 240,
        "wires": [
            [
                "82a38e5e1e09f1e8"
            ]
        ]
    },
    {
        "id": "de531a44e73680ef",
        "type": "inject",
        "z": "e915b08ab287bdeb",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 240,
        "wires": [
            [
                "6d00d2b3f37d9725"
            ]
        ]
    },
    {
        "id": "82a38e5e1e09f1e8",
        "type": "debug",
        "z": "e915b08ab287bdeb",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 240,
        "wires": []
    },
    {
        "id": "8b934be2ad7c101a",
        "type": "ui_form",
        "z": "e915b08ab287bdeb",
        "name": "SQL Statement",
        "label": "SQL Statement",
        "group": "dcd70c5b2f437a00",
        "order": 0,
        "width": "12",
        "height": "6",
        "options": [
            {
                "label": "",
                "value": "sql_statement",
                "type": "multiline",
                "required": true,
                "rows": 6
            }
        ],
        "formValue": {
            "sql_statement": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 420,
        "y": 960,
        "wires": [
            [
                "1bb3394fe6f2f3ab"
            ]
        ]
    },
    {
        "id": "64487f433c4fbf17",
        "type": "sqlite",
        "z": "e915b08ab287bdeb",
        "mydb": "f3b2cb2dfae64c41",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 810,
        "y": 980,
        "wires": [
            [
                "34282633de7306ef"
            ]
        ]
    },
    {
        "id": "1bb3394fe6f2f3ab",
        "type": "change",
        "z": "e915b08ab287bdeb",
        "name": "move topic",
        "rules": [
            {
                "t": "move",
                "p": "payload.sql_statement",
                "pt": "msg",
                "to": "topic",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 590,
        "y": 980,
        "wires": [
            [
                "64487f433c4fbf17"
            ]
        ]
    },
    {
        "id": "68bd91908aa93d06",
        "type": "comment",
        "z": "e915b08ab287bdeb",
        "name": "",
        "info": "/*\nSELECT \n    name\nFROM \n    sqlite_schema\nWHERE \n    type ='table' AND \n    name NOT LIKE 'sqlite_%';\n*/\n\n--select * from deviceConfig;\n--select * from inputConfig\n--select * from device_input_rltn",
        "x": 400,
        "y": 1040,
        "wires": []
    },
    {
        "id": "f286c45f23655915",
        "type": "sqlite",
        "z": "e915b08ab287bdeb",
        "mydb": "f3b2cb2dfae64c41",
        "sqlquery": "fixed",
        "sql": "select rowid, * from inputConfig",
        "name": "inputConfig",
        "x": 650,
        "y": 1200,
        "wires": [
            [
                "3321315c7cc123cb"
            ]
        ]
    },
    {
        "id": "ededa3d515f3a5f0",
        "type": "sqlite",
        "z": "e915b08ab287bdeb",
        "mydb": "f3b2cb2dfae64c41",
        "sqlquery": "fixed",
        "sql": "select rowid, * from deviceConfig",
        "name": "deviceConfig",
        "x": 650,
        "y": 1240,
        "wires": [
            [
                "ddc59eadcf56c481"
            ]
        ]
    },
    {
        "id": "564be23aa864fb7d",
        "type": "sqlite",
        "z": "e915b08ab287bdeb",
        "mydb": "f3b2cb2dfae64c41",
        "sqlquery": "fixed",
        "sql": "select rowid, * from device_input_rltn",
        "name": "device_input_rltn",
        "x": 670,
        "y": 1280,
        "wires": [
            [
                "03a0eb7df3b5ba78"
            ]
        ]
    },
    {
        "id": "3321315c7cc123cb",
        "type": "ui_etable",
        "z": "e915b08ab287bdeb",
        "payload": "[{\"title\":\"ID\",\"field\":\"rowid\",\"frozen\":true,\"headerSort\":true},{\"title\":\"Source\",\"field\":\"inputSource\",\"frozen\":false,\"headerSort\":true},{\"title\":\"ID\",\"field\":\"inputId\",\"frozen\":false,\"headerSort\":true},{\"title\":\"Name\",\"field\":\"inputName\",\"frozen\":false,\"headerSort\":true}]",
        "payloadType": "json",
        "options": "{\"movableColumns\":true,\"layout\":\"fitData\",\"pagination\":\"local\",\"height\":\"300px\"}",
        "group": "85420c8547c0ead4",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "4",
        "columns": [],
        "outputs": 1,
        "cts": false,
        "x": 830,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "ddc59eadcf56c481",
        "type": "ui_etable",
        "z": "e915b08ab287bdeb",
        "payload": "[{\"title\":\"ID\",\"field\":\"deviceId\",\"frozen\":true,\"headerSort\":true},{\"title\":\"Name\",\"field\":\"friendlyName\",\"frozen\":false,\"headerSort\":true},{\"title\":\"Session ID\",\"field\":\"sessionId\",\"frozen\":false,\"headerSort\":true}]",
        "payloadType": "json",
        "options": "{\"movableColumns\":true,\"layout\":\"fitData\",\"pagination\":\"local\",\"height\":\"300px\"}",
        "group": "85420c8547c0ead4",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "4",
        "columns": [],
        "outputs": 1,
        "cts": false,
        "x": 830,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "03a0eb7df3b5ba78",
        "type": "ui_etable",
        "z": "e915b08ab287bdeb",
        "payload": "[{\"title\":\"ID\",\"field\":\"rowid\",\"frozen\":true,\"headerSort\":true},{\"title\":\"Device ID\",\"field\":\"deviceId\",\"frozen\":false,\"headerSort\":true},{\"title\":\"Source\",\"field\":\"inputSource\",\"frozen\":false,\"headerSort\":true},{\"title\":\"Input ID\",\"field\":\"inputId\",\"frozen\":false,\"headerSort\":true}]",
        "payloadType": "json",
        "options": "{\"movableColumns\":true,\"layout\":\"fitData\",\"pagination\":\"local\",\"height\":\"300px\"}",
        "group": "85420c8547c0ead4",
        "name": "",
        "order": 2,
        "width": "6",
        "height": "4",
        "columns": [],
        "outputs": 1,
        "cts": false,
        "x": 830,
        "y": 1280,
        "wires": [
            []
        ]
    },
    {
        "id": "fc70a8ebbf1c25a3",
        "type": "ui_button",
        "z": "e915b08ab287bdeb",
        "name": "",
        "group": "85420c8547c0ead4",
        "order": 5,
        "width": "2",
        "height": "1",
        "passthru": false,
        "label": "Refresh",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 1240,
        "wires": [
            [
                "f286c45f23655915",
                "ededa3d515f3a5f0",
                "564be23aa864fb7d"
            ]
        ]
    },
    {
        "id": "34282633de7306ef",
        "type": "ui_text",
        "z": "e915b08ab287bdeb",
        "group": "dcd70c5b2f437a00",
        "order": 2,
        "width": "12",
        "height": "6",
        "name": "Results",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1060,
        "y": 980,
        "wires": []
    },
    {
        "id": "c66f539a9e1f3c90",
        "type": "websocket-listener",
        "path": "/ws/tally",
        "wholemsg": "false"
    },
    {
        "id": "b99a575091088f56",
        "type": "ui_group",
        "name": "Tally Group",
        "tab": "700e0299.f39d8c",
        "order": 2,
        "disp": false,
        "width": "3",
        "collapse": false,
        "className": ""
    },
    {
        "id": "4fecf6ed884ab2be",
        "type": "ui_group",
        "name": "Status Group",
        "tab": "700e0299.f39d8c",
        "order": 2,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "f3b2cb2dfae64c41",
        "type": "sqlitedb",
        "db": "/data/sqlite",
        "mode": "RWC"
    },
    {
        "id": "81b1bfdb.4662f8",
        "type": "ui_group",
        "name": "Status Group",
        "tab": "cc51891d9422bd72",
        "order": 1,
        "disp": false,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "dcd70c5b2f437a00",
        "type": "ui_group",
        "name": "Default",
        "tab": "07d5efe69871e739",
        "order": 1,
        "disp": false,
        "width": "24",
        "collapse": false,
        "className": ""
    },
    {
        "id": "85420c8547c0ead4",
        "type": "ui_group",
        "name": "Tables",
        "tab": "07d5efe69871e739",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "700e0299.f39d8c",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "cc51891d9422bd72",
        "type": "ui_tab",
        "name": "Charts",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "07d5efe69871e739",
        "type": "ui_tab",
        "name": "Config",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]